.center{text-align: center; color: white;}
.area{
	height: 72vh;
}
.bar{
	background-color: #ddd;
	border-radius: 25vh;
	height: 5vh;	
}
.progresso{
	border-radius: 30vh;
	background-color: #4CAF50;
	margin-left:-15px;
	width: 1%;
	height: 5vh;
	position: absolute;
}
.ponto{
	background-image: url("bola.png");
	background-size: cover;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	
	/* transition: 1s linear; */
}
h1 span{s
	float:right;
	color:white;
	font-size: 20px;
	padding: 8px;
}
#pontos{
	display: none;
}

body{
 	background-image: url("campo.png");
 	background-size: cover;


}
.topo{s
	background-color: red;
}
#top{
	float:right;
	margin-right: 10px;
}